@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Logueado con éxito</h1>

    @if (Context.Session.GetString("logueadoNombre") != null)
    {
        <p>Bienvenido/a @Context.Session.GetString("logueadoNombre")</p> 
    }
   


</div>
